<div class="w-full max-w-3xl">
    <!-- Secret Key Section -->
    <section class="mb-8">
        <h2 class="text-xl font-semibold text-gray-800">Secret Key</h2>
        <p class="text-gray-600 mb-4">
            Your secret key is sensitive information. Keep it secure and do not share it.
        </p>

        <mat-form-field *ngIf="secretKey()" class="w-full mb-4">
            <mat-label>Secret Key</mat-label>
            <input matInput [value]="secretKey()" readonly />
            <button mat-icon-button matSuffix (click)="copyToClipboard(secretKey()!)">
                <mat-icon svgIcon="heroicons_outline:clipboard-document"></mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field *ngIf="nsecKey()" class="w-full">
            <mat-label>Nsec Key</mat-label>
            <input matInput [value]="nsecKey()" readonly />
            <button mat-icon-button matSuffix (click)="copyToClipboard(nsecKey()!)">
                <mat-icon svgIcon="heroicons_outline:clipboard-document"></mat-icon>
            </button>
        </mat-form-field>

        <div *ngIf="!secretKey()" class="mt-6 text-center">
            <button mat-flat-button color="primary" (click)="fetchSecretKey()">View Secret Key</button>
        </div>
    </section>

    <!-- Divider -->
    <div class="my-10 border-t"></div>

    <!-- Change Password Section -->
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <h3 class="text-xl">Change Your Password</h3>
        <mat-form-field class="w-full mt-4" *ngIf="isPasswordEnabled()">
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPassword" type="password" />
        </mat-form-field>
        <mat-form-field class="w-full mt-4">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" type="password" />
        </mat-form-field>
        <div class="flex justify-end mt-6">
            <button mat-flat-button color="primary" type="submit">Save</button>
        </div>
    </form>

    <!-- Divider -->
    <div *ngIf="isPasswordEnabled()" class="my-10 border-t"></div>

    <!-- Remove Password Section -->
    <form *ngIf="isPasswordEnabled()" [formGroup]="removePasswordForm" (ngSubmit)="removePassword()">
        <h3 class="text-xl">Remove Password</h3>
        <p class="text-secondary mt-2">
            Removing your password will store your secret key unencrypted. Ensure you understand the risks.
        </p>
        <mat-form-field class="w-full mt-4">
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPasswordRemove" type="password" />
        </mat-form-field>
        <div class="flex justify-end mt-6">
            <button mat-flat-button color="warn" type="submit">Remove Password</button>
        </div>
    </form>
</div>
