<!-- @if (item) { -->
<angor-card class="flex w-full flex-col">
    <div class="mx-6 mb-4 mt-6 flex items-center sm:mx-8">
        <app-post-profile
            [pubkey]="item?.pubkey"
            [avatarUrl]="'/images/avatars/avatar-placeholder.png'"
            [created_at]="item.created_at"
            (userChange)="user = $event"
        ></app-post-profile>

        <button
            class="-mr-4 ml-auto"
            mat-icon-button
            [matMenuTriggerFor]="postCardMenu"
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:ellipsis-vertical'"
            ></mat-icon>
        </button>
        <mat-menu #postCardMenu="matMenu">
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:arrow-up-tray'"
                    ></mat-icon>
                    <span>Save post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:eye-slash'"
                    ></mat-icon>
                    <span>Hide post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:clock'"
                    ></mat-icon>
                    <span>Snooze for 30 days</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:minus-circle'"
                    ></mat-icon>
                    <span>Hide all</span>
                </span>
            </button>
            <mat-divider class="my-2"></mat-divider>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:exclamation-triangle'"
                    ></mat-icon>
                    <span>Report post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:bell'"
                    ></mat-icon>
                    <span>Turn on notifications for this post</span>
                </span>
            </button>
        </mat-menu>
    </div>

    @for (token of tokens(); track trackByToken) {
        <div class="inline-block whitespace-pre-wrap break-words">
            <!-- YouTube Embeds -->
            @if (token.token === 'youtube') {
                <div class="relative mb-4 block">
                    <iframe
                        [src]="token.safeWord"
                        width="560"
                        height="315"
                        frameborder="0"
                        allowfullscreen
                    ></iframe>
                </div>
            }

            <!-- Images -->
            @if (token.token === 'image') {
                <div class="relative mb-4 block">
                    <img
                        [src]="token.safeWord"
                        alt="Embedded Image"
                        style="width: 100%"
                        class="max-h-140 object-cover"
                    />
                </div>
            }

            <!-- Videos -->
            @if (token.token === 'video') {
                <div class="relative mb-4 block">
                    <video controls style="width: 100%">
                        <source [src]="token.safeWord" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>
            }

            <!-- Audio -->
            @if (token.token === 'audio') {
                <div class="relative mb-4 block">
                    <audio controls>
                        <source [src]="token.safeWord" type="audio/mpeg" />
                        Your browser does not support the audio element.
                    </audio>
                </div>
            }

            <!-- Links -->
            @if (token.token === 'link') {
                <div class="mx-6 mb-6 mt-2 sm:mx-8">
                    <a
                        class="inline-block break-words text-blue-500 underline"
                        [href]="token.word"
                        target="_blank"
                    >
                        <span class="inline-block break-words">{{
                            token.word
                        }}</span>
                    </a>
                </div>
            }

            <!-- Plain Text -->
            @if (!token.token) {
                <div class="mx-6 mb-6 mt-2 sm:mx-8">
                    <span
                        class="inline-block break-words"
                        [ngClass]="{
                            'large-font': isSingleEmojiOrWord(token),
                        }"
                        >{{ token.trim() }}
                    </span>
                </div>
            }
        </div>
    }

    @if (actions) {
        <div class="mx-3 flex items-center sm:mx-5">

            <button class="mr-1 px-3" mat-button (click)="toggleLike(item)">
                <mat-icon class="text-red-500 icon-size-5" [ngClass]="{ 'heart-beat': isLiked }"
                    [svgIcon]="
                    isLiked
                            ? 'heroicons_solid:heart'
                            : 'heroicons_outline:heart'
                    ">
                </mat-icon>
                <span class="ml-2">{{ isLiked ?'Liked':'Like' }} </span>
            </button>

            <button class="mr-1 px-3" mat-button [routerLink]="['/post', item.id]">
                <mat-icon
                    class="text-blue-500 icon-size-5"
                    [svgIcon]="'heroicons_solid:chat-bubble-left-ellipsis'"
                ></mat-icon>
                <span class="ml-2">Comment</span>
            </button>
            <button class="mr-1 px-3" mat-button (click)="onShare(item)">
                <mat-icon
                    class="text-green-500 icon-size-5"
                    [svgIcon]="'heroicons_solid:share'"
                ></mat-icon>
                <span class="ml-2">Share</span>
            </button>
            <button
                class="mr-1 px-3"
                mat-button
                (click)="openZapDialog(item.id, user)"
            >
                <mat-icon
                    class="text-orange-500 icon-size-5"
                    [svgIcon]="'heroicons_solid:bolt'"
                ></mat-icon>
                <span class="ml-2">Zap</span>
            </button>
        </div>
    }
    @if (more) {
        <hr class="mx-6 mb-6 mt-4 border-b sm:mx-8" />
        <div
            class="mx-6 mb-4 flex flex-col sm:mx-8 sm:mb-6 sm:flex-row sm:items-center"
        >
            <div class="hidden flex-auto sm:flex"></div>
            <div class="mt-4 flex items-center sm:mt-0">
                <button
                    class="px-3 sm:-mr-4"
                    mat-button
                    [routerLink]="['/post', item.id]"
                >
                    <span class="mr-1">Read More ...</span>
                </button>
            </div>
        </div>
    }
</angor-card>
<!-- } @else {
    Loading....
} -->
