<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="dark relative overflow-hidden bg-gray-700 px-4 pb-28 pt-8 dark:bg-gray-700 sm:px-16 sm:pb-48 sm:pt-20"
    >
        <!-- Background -->
        <!-- Rings -->
        <svg
            class="pointer-events-none absolute inset-0"
            viewBox="0 0 960 540"
            width="100%"
            height="100%"
            preserveAspectRatio="xMidYMax slice"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g
                class="text-gray-700 opacity-25"
                fill="none"
                stroke="currentColor"
                stroke-width="100"
            >
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <div class="relative z-10 flex flex-col items-center">
            <h2 class="text-xl font-semibold">ANGOR HUB</h2>
            <div
                class="mt-1 text-center text-4xl font-extrabold leading-tight tracking-tight sm:text-7xl"
            >
                Discover the Latest Project Updates
            </div>
            <div
                class="text-secondary mt-3 text-center tracking-tight sm:text-2xl"
            >
                Browse through real-time events, insights, and updates from
                projects you follow or bookmark.
            </div>
            <mat-form-field
                class="angor-mat-rounded angor-mat-bold mt-10 w-full max-w-80 sm:mt-20 sm:max-w-120"
                [subscriptSizing]="'dynamic'"
            >
                <input
                    matInput
                    [placeholder]="'Search projects, events, or keywords'"
                />
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:magnifying-glass'"
                ></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-col items-center px-6 pb-6 sm:px-10 sm:pb-10">
        <!-- Cards -->
        <div
            class="-mt-16 grid w-full max-w-sm grid-cols-1 gap-y-8 sm:-mt-24 md:max-w-4xl md:grid-cols-3 md:gap-x-6 md:gap-y-0"
        >
            <!-- All Events card -->
            <div
                class="bg-card relative flex flex-col overflow-hidden rounded-2xl shadow transition-shadow duration-150 ease-in-out hover:shadow-lg"
            >
                <div
                    class="flex flex-auto flex-col items-center p-8 text-center"
                >
                    <div class="text-2xl font-semibold">Latest Posts</div>
                </div>
                <div
                    class="flex items-center justify-center bg-gray-50 px-8 py-4 text-primary-500 dark:border-t dark:bg-transparent dark:text-primary-400"
                >
                    <span role="button" class="flex items-center">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">View Latest Posts</span>
                    </span>
                </div>
            </div>
            <!-- Followed Projects Events card -->
            <div
                class="bg-card relative flex flex-col overflow-hidden rounded-2xl shadow transition-shadow duration-150 ease-in-out hover:shadow-lg"
            >
                <div
                    class="flex flex-auto flex-col items-center p-8 text-center"
                >
                    <div class="text-2xl font-semibold">Followed Projects</div>
                </div>
                <div
                    class="flex items-center justify-center bg-gray-50 px-8 py-4 text-primary-500 dark:border-t dark:bg-transparent dark:text-primary-400"
                >
                    <span role="button" class="flex items-center">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">View Followed Projects</span>
                    </span>
                </div>
            </div>
            <!-- Bookmarked Projects Events card -->
            <div
            [routerLink]="['/bookmark']"
                class="bg-card relative flex flex-col overflow-hidden rounded-2xl shadow transition-shadow duration-150 ease-in-out hover:shadow-lg"
            >
                <div
                    class="flex flex-auto flex-col items-center p-8 text-center"
                >
                    <div class="text-2xl font-semibold">
                        Bookmarked Projects
                    </div>
                </div>
                <div
                    class="flex items-center justify-center bg-gray-50 px-8 py-4 text-primary-500 dark:border-t dark:bg-transparent dark:text-primary-400"
                >
                    <span role="button" class="flex items-center">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium"
                            >View Bookmarked Projects</span
                        >
                    </span>
                </div>
            </div>
        </div>

        <!-- <div class="mt-12 text-center text-3xl font-extrabold leading-tight tracking-tight sm:text-4xl">
            Latest Posts
        </div>
        <div class="text-secondary mt-2 text-center text-lg">
            Explore updates, milestones, and activities from projects you follow and bookmark
        </div> -->

        <div class="m-auto mt-10 flex w-full max-w-140 flex-col items-start">
            @for (item of posts; track $index) {
                <app-post
                    class="mb-8 flex w-full flex-col"
                    [item]="item"
                ></app-post>
            }

            @if (hasMorePosts) {
                <div class="m-auto mt-4 flex justify-center">
                    <button
                        class="bg-card text-gray-700 hover:bg-gray-200 dark:text-gray-300 dark:hover:bg-gray-700"
                        mat-raised-button
                        color="primary"
                        (click)="loadNextPage()"
                        [disabled]="loading"
                    >
                        {{ loading ? 'Loading...' : 'Load More Posts' }}
                    </button>
                </div>
            }
        </div>
    </div>
</div>
