.preset-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    margin-bottom: 20px;
}

.preset-buttons button {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 60px !important;
}

.sats-input {
    margin-top: 20px;
    width: 100%;
}

.lightning-buttons {
    margin: 5px 0;
}
