<div>
    @if (appearance === 'bar') {
        @if (!opened()) {
            <button mat-icon-button (click)="open()">
                <mat-icon [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
            </button>
        }
        @if (opened()) {
            <div class="bg-card absolute inset-0 z-99 flex items-center">
                <mat-icon class="absolute ml-6 sm:ml-8" [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                <input
                    class="h-full w-full px-16 sm:px-18"
                    [formControl]="searchControl"
                    [matAutocomplete]="matAutocomplete"
                    placeholder="Search..."
                    (keydown)="onKeydown($event)"
                    #barSearchInput
                />
                <mat-autocomplete #matAutocomplete="matAutocomplete" class="max-h-128 rounded-b border-t shadow-md">
                    @if (resultSets()?.length === 0) {
                        <mat-option class="text-secondary pointer-events-none">
                            No results found!
                        </mat-option>
                    }
                    @for (resultSet of resultSets(); track resultSet.id) {
                        @for (result of resultSet.results; track result.id) {
                            <mat-option [routerLink]="result.link" [value]="result.name">
                                <div class="flex items-center">
                                    <div class="h-8 w-8 rounded-full bg-primary-100 dark:bg-primary-800">
                                        @if (result.avatar) {
                                            <img
                                                [src]="result.avatar"
                                                (error)="handleImageError($event)"
                                                class="h-full w-full object-cover"
                                                alt="{{ result.name }}"
                                            />
                                        } @else {
                                            <mat-icon class="m-0 text-primary" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                                        }
                                    </div>
                                    <div class="ml-3 truncate">
                                        <span class="font-semibold">{{ result.name }}</span>
                                        @if (result.about) {
                                            <div class="text-sm text-gray-500">{{ result.about }}</div>
                                        }
                                    </div>
                                </div>
                            </mat-option>
                        }
                    }
                </mat-autocomplete>
                <button mat-icon-button class="absolute right-5 top-1/2 -mt-5" (click)="close()">
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            </div>
        }
    }
</div>
