<div *ngIf="events$ | async as events; else loading">
    <div *ngFor="let event of events" class="event-item">
      <img [src]="event.picture" alt="Avatar" class="avatar">
      <div class="event-details">
        <h3>{{ event.username }}</h3>
        <p>{{ event.content }}</p>
        <span>Created at: {{ event.fromNow }}</span>
      </div>
    </div>
    <button (click)="loadMore()" class="load-more-button">Load More</button>
  </div>

  <ng-template #loading>
    <p>Loading events...</p>
  </ng-template>
